{% extends "base.html" %}
{% load l10n %}

{% block form %}
<form method="post" enctype="multipart/form-data" id="upload-form">
    {% csrf_token %}
    <div id="upload-form-choose-btn-div">
        <div id="upload-form-choose-btn">
            <label for="id_file_field">Выбрать файл</label>
            <input type="file" name="file_field" required id="id_file_field" style="display: none">
            <!-- <input type="file" name="file_field" multiple required id="id_file_field" style="display: none"> -->
        </div>
        <div id="upload-form-err-msg" style="display: none">
            <p> << </p>
        </div>
        <div id="upload-form-submit-div" onclick="validateFiles()">
            <button type="submit">Загрузить <span id="upload-form-files-num"></span></button>
        </div>
    </div>
</form>
{% endblock form %}

{% block content %}
<div id="home-group-table">
    <div id="home-group-table-headers">
        <div id="main-content-phone-headers-date">
            <h4>Дата</h4>
        </div>
        <div id="home-group-table-headers-mid-divisor"></div>
        <div id="main-content-phone-headers-buyer">
            <h4>Покупатель</h4>
        </div>
        <div class="main-content-phone-headers-items">
            <h5>Сумма (общая по продажной цене):</h5>
        </div>
        <div class="main-content-phone-headers-items">
            <h5>Кол-во элементов</h5>
        </div>
    </div>

    <div id="home-group-table-headers-footer-divisor"></div>

    {% for order in filterset.qs %}
    <a href="order/{{order.slug}}">
        <div class="home-group-table-content">
            <div class="home-group-table-content-date">
                {{order.date}}
            </div>
            <div class="home-group-table-content-items">
                {{order.market}}
            </div>
            <div class="home-group-table-content-items-aligned">
                {{order.total_price_2}} c.
            </div>
            <div class="home-group-table-content-items-aligned">
                {{order.total_dishes}}
            </div>
        </div>
    </a>

    <div id="home-group-table-content-footer-divisor"></div>
    {% endfor %}
</div>

{% endblock content %}
