{% extends "base.html" %}
{% load l10n %}

{% block content %}

<div id="order-detail-table">
    <div id="order-detail-table-header">
        <div class="order-detail-table-items">
            <span class="order-detail-table-items-1"><b>Маркет: </b></span>
            <span class="order-detail-table-items-2">{{object.market.name}}</span>
        </div>
        <div class="order-detail-table-items">
            <span class="order-detail-table-items-1"><b>Дата: </b></span>
            <span class="order-detail-table-items-2">{{object.date}}</span>
        </div>

        <div class="order-detail-table-items">
            <span class="order-detail-table-items-1"><b>Итог(продажа): </b></span>
            <span class="order-detail-table-items-2" id="order-detail-table-total-by-price-2">{{total_by_price_2}} c.</span>
        </div>

         <div class="order-detail-table-items">
            <span class="order-detail-table-items-1"><b> ------: </b></span>
            <span class="order-detail-table-items-2" id="order-detail-table-total-by-price-1">{{total_by_price_1}} c.</span>
         </div>

         <div class="order-detail-table-items">
            <span class="order-detail-table-items-1"><b> Разница: </b></span>
            <span class="order-detail-table-items-2" id="order-detail-table-diff">{{diff_t_by_p1_t_by_p2}} c.</span>
         </div>



         <div class="order-detail-table-items">
            <span class="order-detail-table-items-1"><b>Кол-во элементов: </b></span>
            <span class="order-detail-table-items-2" id="order-detail-table-dishes-quantity">{{dishes_quantity}} шт.</span>
        </div>

        <div class="order-detail-table-items">
            <span class="order-detail-table-items-1"><b>Кол-во продукции: </b></span>
            <span class="order-detail-table-items-2" id="order-detail-table-total-dishes-quantity">{{total_dishes_quantity}} шт.</span>
        </div>

        <div class="order-detail-table-items">
            <a href="/order/{{object.slug}}/delete">
                <div id="delete-btn">
                    Удалить
                </div>
            </a>
            <a href="/order/{{object.slug}}/print">
                <div id="print-btn">
                    Печать
                </div>
            </a>
        </div>

    </div>

    <div id="order-detail-table-buyer-name-divisor"></div>

    <div id="order-detail-table-dish-header">
        <div id="order-detail-table-dish-header-number">
            <span>№</span>
        </div>
        <div id="order-detail-table-dish-header-bar-code">
            <span>Штрихкод</span>
        </div>
        <div id="order-detail-table-dish-header-name">
            <span>Продукция</span>
        </div>
        <div id="order-detail-table-dish-header-quantity">
            <span>Заказ</span>
        </div>
        <div id="order-detail-table-dish-header-price_2">
            <span>Цена (продажная)</span>
        </div>
    </div>

    <div id="order-detail-table-dish-header-divisor"></div>

    {% for dish in  filterset.qs %}
        {% if not dish.cancel%}
            <span id="order-detail-table-dish-pirice-1" style="display: none;">{{dish.price_1}}</span>
            <div class="order-detail-table-dish">
                <a href="/dish/{{dish.pk}}" id="{{dish.pk}}">
                    <div class="order-detail-table-dish-number">
                        <span>{{dish.number}}</span>
                    </div>
                    <div class="order-detail-table-dish-bar-code">
                        <span>{{dish.bar_code}}</span>
                    </div>
                    <div class="order-detail-table-dish-name">
                        <span>{{dish.name}}</span>
                    </div>
                    <div class="order-detail-table-dish-quantity">
                        <span>{{dish.quantity}}</span>
                    </div>
                    <div class="order-detail-table-dish-price_2">
                        <span>{{dish.price_2}} c.</span>
                    </div>
                    <div class="order-detail-table-dish-price_2">
                        <span>{% widthratio dish.price_2 1 dish.quantity %} c.</span>
                    </div>
                </a>
                <div class="approve-dish" id="approve_{{dish.pk}}">
                    {% if dish.approve %}
                        <i class="fa fa-check" aria-hidden="true" style="opacity: 0.3"></i>
                    {% else %}
                        <i class="fa fa-check" aria-hidden="true"></i>
                    {% endif %}
                </div>
                <div class="cancel-dish" id="cancel_{{dish.pk}}">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <div class="edit-dish" id="edit_{{dish.pk}}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </div>
            </div>

            <div class="edit-dish-values" style="display: none;">
                <div class="order-detail-table-dish-quantity-edit">
                    <input type="text" name="quantity" style="height: 30px">
                </div>
                <div class="order-detail-table-dish-price_2-edit">
                    <input type="text" name="price_2" style="display: none">
                </div>
                <div class="edit-dish-values-submit">
                    Готово
                </div>
            </div>



            <div class="order-detail-table-dish-divisor"></div>
        {% endif %}
    {% endfor %}
</div>

<script>
    function toggleFilter() {
        let filterBlockDisplay =  document.getElementById("order-detail-filter-form").style.display
        if (filterBlockDisplay == 'none') {
            document.getElementById("order-detail-filter-form").style.display = 'block';
        } else {
            document.getElementById("order-detail-filter-form").style.display = 'none';
        }
    }
</script>

{% endblock content %}
