<!-- {% extends "base.html" %}
{% load l10n %}

{% block content %}
<!-- <div id="filters">
    <form method="get">
        <div id="filters-form">
            <div id="days">
                {{filterset.form.day}}
            </div>
            <div id="months">
                {{filterset.form.month}}
            </div>
            <div id="years">
                {{filterset.form.year}}
            </div>
        </div>

        <button type="submit">Применить</button>
    </form>
</div> -->


<div id="statistics-table">
    <div id="order-detail-table-header">
         <div class="order-detail-table-items">
            <span class="order-detail-table-items-1"><b>Кол-во элементов: </b></span>
            <span class="order-detail-table-items-2">{{filterset.qs | length}} шт.</span>
        </div>
        <div class="order-detail-table-items">
            <span class="order-detail-table-items-1"><b>Кол-во продукции: </b></span>
            <span class="order-detail-table-items-2">{{total_amount_of_dish}} шт.</span>
        </div>
        <div class="order-detail-table-items">
            <span class="order-detail-table-items-1"><b>Сумма (общая по продажной цене): </b></span>
            <span class="order-detail-table-items-2">{{total_dish_price_2}} c.</span>
        </div>
    </div>
   <!-- <div id="order-detail-table-header">
       <div id="order-detail-table-buyer-name">
           <h3>Cтатистика</h3>
       </div>
       <div id="order-detail-table-filter-btn" onclick="toggleFilter()">
           <span>Фильтры</span>
       </div>
   </div> -->

    <div id="order-detail-table-buyer-name-divisor"></div>

    <div id="filters">
        <form method="get">
            <div id="filters-form">
                <div id="days">
                    {{filterset.form.day}}
                </div>
                <div id="months">
                    {{filterset.form.month}}
                </div>
                <div id="years">
                    {{filterset.form.year}}
                </div>
            </div>

            <button type="submit">Применить</button>
        </form>
    </div>

    <div id="order-detail-table-dish-header">
        <div id="order-detail-table-dish-header-number">
            <span>№</span>
        </div>
        <div id="order-detail-table-dish-header-bar-code">
            <span>Штрихкод</span>
        </div>
        <div id="order-detail-table-dish-header-name">
            <span>Продукция</span>
        </div>
        <div id="order-detail-table-dish-header-quantity">
            <span>Заказов</span>
        </div>
        <div id="order-detail-table-dish-header-price_2">
            <span>Цена (продажная)</span>
        </div>
        <div id="order-detail-table-dish-header-price_2">
            <span>Цена (продажная) общая</span>
        </div>
    </div>

    <div id="order-detail-table-dish-header-divisor"></div>

    {% for dish in filtered_qs %}
        <!-- {% if dish.quantity != 0 %} -->
            <a href="/statistics/{{dish.pk}}">
            <!-- <a href="/statistics/{{dish.pk_in_dish_list}}"> -->
                <div class="order-detail-table-dish">
                <div class="order-detail-table-dish-number">
                    <span>{{dish.pk}}</span>
                </div>
                <div class="order-detail-table-dish-bar-code">
                    <span>{{dish.bar_code}}</span>
                </div>
                <div class="order-detail-table-dish-name">
                    <span>{{dish.name}}</span>
                </div>
                <div class="order-detail-table-dish-quantity">
                    <span>{{dish.quantity}}</span>
                </div>
                <div class="order-detail-table-dish-price_2">
                    <span>{{dish.price_2}} c.</span>
                </div>
                <div class="order-detail-table-dish-price_2">
                    <span>{{dish.price_2_total}} c.</span>
                </div>
            </div>
            </a>
            <div class="order-detail-table-dish-divisor"></div>
        <!-- {% endif %} -->
    {% endfor %}
</div>

<script>
    function toggleFilter() {
        let filterBlockDisplay =  document.getElementById("order-detail-filter-form").style.display
        if (filterBlockDisplay == 'none') {
            document.getElementById("order-detail-filter-form").style.display = 'block';
        } else {
            document.getElementById("order-detail-filter-form").style.display = 'none';
        }
    }
</script>

{% endblock content %} -->
