{% extends "base.html" %}
{% load l10n %}

{% block content %}
<!-- <form method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Загрузить">
</form> -->


<div id="form-div">
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <p><label for="id_market">Гипермаркет:</label> <select name="market" required id="id_market">
  <option value="" selected>-------------</option>

  <option value="Гипермаркет 1">Гипермаркет 1</option>

  <option value="Гипермаркет 2">Гипермаркет 2</option>

  <option value="Гипермаркет 3">Гипермаркет 3</option>

  <option value="Гипермаркет 4">Гипермаркет 4</option>

  <option value="Гипермаркет 5">Гипермаркет 5</option>

  <option value="Гипермаркет 6">Гипермаркет 6</option>

  <option value="Гипермаркет 7">Гипермаркет 7</option>

  <option value="Гипермаркет 8">Гипермаркет 8</option>

  <option value="Гипермаркет 9">Гипермаркет 9</option>

  <option value="Гипермаркет 10">Гипермаркет 10</option>

  <option value="Гипермаркет 11">Гипермаркет 11</option>
  <option value="Гипермаркет 12">Гипермаркет 12</option>
  <option value="Гипермаркет 13">Гипермаркет 13</option>
  <option value="Гипермаркет 14">Гипермаркет 14</option>
  <option value="Гипермаркет 15">Гипермаркет 15</option>
  <option value="Гипермаркет 16">Гипермаркет 16</option>
  <option value="Гипермаркет 17">Гипермаркет 17</option>
  <option value="Гипермаркет 18">Гипермаркет 18</option>
  <option value="Гипермаркет 19">Гипермаркет 19</option>
  <option value="Гипермаркет 20">Гипермаркет 20</option>
  <option value="Гипермаркет 21">Гипермаркет 21</option>
  <option value="Гипермаркет 22">Гипермаркет 22</option>
  <option value="Гипермаркет 23">Гипермаркет 23</option>
  <option value="Гипермаркет 24">Гипермаркет 24</option>
  <option value="Гипермаркет 25">Гипермаркет 25</option>
  <option value="Гипермаркет 26">Гипермаркет 26</option>
  <option value="Гипермаркет 27">Гипермаркет 27</option>
  <option value="Гипермаркет 28">Гипермаркет 28</option>
  <option value="Гипермаркет 29">Гипермаркет 29</option>
  <option value="Гипермаркет 30">Гипермаркет 30</option>
  <option value="Гипермаркет 31">Гипермаркет 31</option>
  <option value="Гипермаркет 32">Гипермаркет 32</option>
  <option value="Гипермаркет 33">Гипермаркет 33</option>
  <option value="Гипермаркет 34">Гипермаркет 34</option>
  <option value="Гипермаркет 35">Гипермаркет 35</option>
  <option value="Гипермаркет 36">Гипермаркет 36</option>
  <option value="Гипермаркет 37">Гипермаркет 37</option>
  <option value="Гипермаркет 38">Гипермаркет 38</option>
  <option value="Гипермаркет 39">Гипермаркет 39</option>
  <option value="Гипермаркет 40">Гипермаркет 40</option>

</select></p>
<p>
    <label for="id_date_day">Дата:</label>
    <select name="date_day" required id="id_date_day">
        <option value="" selected>---</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
    </select>
    <select name="date_month" required id="id_date_month">
        <option value="" selected>---</option>
        <option value="1">Январь</option>
        <option value="2">Февраль</option>
        <option value="3">Март</option>
        <option value="4">Апрель</option>
        <option value="5">Май</option>
        <option value="6">Июнь</option>
        <option value="7">Июль</option>
        <option value="8">Август</option>
        <option value="9">Сентябрь</option>
        <option value="10">Октябрь</option>
        <option value="11">Ноябрь</option>
        <option value="12">Декабрь</option>
    </select>
    <select name="date_year" required id="id_date_year">
        <option value="" selected>---</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
        <option value="2028">2028</option>
    </select></p>

    <div id="upload-form-choose-btn">
        <label for="id_file_field">Выбрать файл</label>
        <input type="file" name="file_field" required id="id_file_field" style="display: none">
        <!-- <input type="file" name="file_field" multiple required id="id_file_field" style="display: none"> -->
    </div>
    <div id="upload-form-submit-div" onclick="validateFiles()">
        <button type="submit">Загрузить <span id="upload-form-files-num" onclick="validateFiles()"></span></button>
    </div>

</form>

</div>

{% endblock content %}
