#dish-edit-btn {
    position: absolute;
    top: 15%;
    left: 85%;
}

#dish-detail-by-buyer-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}

#dish-detail-by-buyer-table-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50px;
    margin-left: 35%;
}

#dish-detail-by-buyer-table-header-divisor {
    width: 40%;
    margin-left: 29%;
    border: 1px solid #bbbbbb;
    margin-bottom: 2%;
    margin-top: 15px;
}

.dish-detail-by-buyer-table-markets {
    display: flex;
    width: 80%;
    height: 50px;
    margin-left: 15%;
    margin-top: 10px;
}

.dish-detail-by-buyer-table-markets-name {
    display: flex;
    width: 50%;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.dish-detail-by-buyer-table-markets-date {
    display: flex;
    width: 40%;
    height: 50px;
    align-items: center;
    margin-left: 5%;
}

.dish-detail-by-buyer-table-markets-divisor {
    display: flex;
    width: 80%;
    margin-left: 15%;
    border: 1px dashed #bbbbbb;
}

#dish-detail-table-buyer-name {
    display: flex;
    justify-content: center;
}

#dish-detail-table-buyer-name-1 {
    display: flex;
    width: 30%;
    margin-left: 10%;
}

#dish-detail-table-buyer-name-2 {
    display: flex;
    width: 20%;
}

.dish-detail-table-items {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dish-detail-table-items-1 {
    display: flex;
    width: 30%;
}

.dish-detail-table-items-2 {
    display: flex;
    width: 10%;
}